rsyslog doesn't respond to TLS close_notify

We've noticed that rsyslog, when sending to a remote server, never reads from a TLS socket after the initial connection establishment. For example, let's say that rsyslog is connected to a receiver that closes idle connections after 15 minutes. Here's what happens:

* rsyslog connects to remote, negotiates TLS, and sends a few messages. `netstat -t` shows that Recv-Q and Send-Q are both empty. (So far, so good.)
* After 15 minutes of inactivity, remote sends a TLS close_notify, followed by a TCP FIN, but rsyslog never responds to either one. In fact, `netstat -t` shows Recv-Q has 54 bytes waiting to be read, which is the size of the TLS close_notify. It also shows the connection is in a CLOSE_WAIT state, which means that the TCP connection is half-closed. Remote has already stopped listening, so any further sends will be lost.
* This condition remains unchanged, until the next time rsyslog has a message to send. Since the TCP connection is still half-open, the send succeeds, and we see one more data segment being transmitted.
* Best case scenario now: Remote responds with a TCP RST, forcing the TCP connection to close. `netstat -t` no longer lists the connection at all. We've lost at least one message so far, but the next send will fail, allowing rsyslog to reconnect. Relatively painless.
* Worst case scenario: Remote responds with a TCP RST, which is intercepted by an intermediate packet filter/firewall for some reason, and dropped. The OS continues with TCP retransmissions, but without any active response, this may take hours/days to finally kill the TCP connection. `netstat -t` shows Send-Q gradually fill up, as more messages are sent. I imagine rsyslog would eventually stall entirely, or if this target has its own queue, just that thread would stall.

I've poked through the code and found that [nsd_gtls](https://github.com/rsyslog/rsyslog/blob/master/runtime/nsd_gtls.c#L1425) includes a CheckConnection function, which defers to [nsd_ptcp](https://github.com/rsyslog/rsyslog/blob/master/runtime/nsd_ptcp.c#L809)'s function of the same name. But all it does is a 1-byte peek. Interestingly, this would actually work perfectly if the remote end simply closed the TCP connection, without sending a TLS close_notify first. But the fact that there's 54 bytes waiting in Recv-Q prevents the recv from ever returning zero. Skipping the close_notify would be inconsistent with [Section 4.4 of RFC5425](https://tools.ietf.org/html/rfc5425#section-4.4), though.

I'm not sure what the answer is – ideally, rsyslog would respond to a TLS close_notify immediately, but I'm not sure if there's a good place for that in the current architecture.

We are seeing something similar in sending logs from our Ubuntu servers over TLS, the connection seems to hang and the netstat output shows:

tcp        0      0 10.x.x.x:47181      52.x.x.x:6514      ESTABLISHED
tcp       53      0 10.x.x.x:58406      54x.x.x:6514       ESTABLISHED
tcp        0      0 10.x.x.x.:47182      52.x.x.x:6514      ESTABLISHED

The connections are in ESTAB state not FIN_WAIT or CLOSE_WAIT. However the RecvQ is stuck at 53 and no messages ever go through or get sent until we restart the rsyslog daemon.

@PascalWithopf is this done?

@rgerhards it doesn't look like something was done. The function ```CheckConnection()``` only does a one byte peek as it was described in the issue.

This should be fixed with the new openssl drivers that are now present in the source tree.

well, let's keep it open for a moment, maybe we can fix it in gnutls as well...

@rgerhards can we close this?

@alorbach did we try to fix this in GnuTLS? If not would you be willing to have a look?

We observe the exact same behaviour also in the openssl driver. Cannot see that this is fixed there either. 

@Arnix can you tell us the openssl version and rsyslog version being used ? 

Faced with this issue and able to reproduce it reliably. When there are no messages to get send to the remote server via the TLS channel then connection get closed on the remote side and never get re-established on the local side. Netstat shows "ESTABLISHED".
Can be mitigated or with rsyslog instance restart or with the cron job that populates local log every 5-10 minutes to get rsyslog busy ('heartbeat'-ish).

> @Arnix can you tell us the openssl version and rsyslog version being used ?

This is reproducible on https://github.com/rsyslog/rsyslog/releases/tag/v8.1901.0. 
Our scenario is that we use rsyslog towards Loggly over TLS. 

On one of the connections towards Loggly there is sparse traffic (we use one connection pr 1 of 3 facility levels). After 20 minutes after last transmission, the remote side (Loggly) sends a TLS SHUTDOWN_NOTIFY. This is then left untouched on the sender side, seen as a recv-q len: 31. 

Eventually when the sender rsyslog sends another message, the receiver side sometimes eventually do a RST, this is detected on sender side and communication resumes. Other times, no RST is seen and the channel stays stuck. 

The CheckConnection function for both TLS implementations (GnuTLS and OpenSSL) both defers to the TCP module that does the following: 

c = recv(pThis->sock, msgbuf, 1, MSG_DONTWAIT | MSG_PEEK);
	if(rc == 0 && errno != EAGAIN) {
		dbgprintf("CheckConnection detected broken connection - closing it\n");
		/* in this case, the remote peer had shut down the connection and we
		 * need to close our side, too.
		 */
		sockClose(&pThis->sock);
		ABORT_FINALIZE(RS_RET_IO_ERROR);
	}

With 31 bytes on the receive queue this won't do much good. I also have a hard time understanding what the code is supposed to do, but then again my C programming skills are sadly outdated. 

We have managed to make a workaround and test towards the read call actually returning something (>= 0 bytes), and using that to close the connection. However I am not sure what else that might break. 



@Arnix pls submit your experimental code; even though it may not be 100% correct (or not correct at all), it definitely helps in the analysis of the issue. Possibly we can even simply apply it.

As far as I remember (would need to validate) the code you mention does a short read to see if the connection is broken or not. Without a read, it's hard to detect.

side-note: did you activate keep-alive? That should take care of the situation.

> @Arnix pls submit your experimental code; even though it may not be 100% correct (or not correct at all), it definitely helps in the analysis of the issue. Possibly we can even simply apply it.
> 
> As far as I remember (would need to validate) the code you mention does a short read to see if the connection is broken or not. Without a read, it's hard to detect.
> 
> side-note: did you activate keep-alive? That should take care of the situation.

@rgerhards I will submit this, just give me a few days, a bit of crunch mode now.
Regarding keep-alive I believe that won't help much. AFAIK the decision to close the connection is done on application level on the receiver side, whilst keep-alive is merely done at TCP level to keep NAT mappings etc up to date. And, yes we do have keep alive active. 

@rgerhards - I did the a PR of my hack, available here: https://github.com/rsyslog/rsyslog/pull/3535

Hi, this is Jiri from Loggly team. 
As @Arnix mentioned we both spent some time investigating this (big thanks to him for that) and this is something that's causing issues to multiple of our customers. We are getting repeated support requests due to this exact issue. Right now we have to suggest customers to use some periodic heartbeat to generate syslogs and keep connection alive. Having the fix would make our life much easier.

@Katulus would you consider contributing a fix? Or sponsoring it?

> , the original intent of the code was broken due to the introduction of using non-blocking sockets.

we always used non-blocking sockets.

We'll review the fix, but it takes some time, especially as we need to evaluate the effect on all those installations that have no issues.

@rgerhards, as we don't have people with C expertise on the team I'm not sure we're able to contribute the fix at this point.

potentially fixed by https://github.com/rsyslog/rsyslog/pull/3535

#3535 caused quite some issues, as it rapidly break connections. So I reverted it. Back to previous state...

@Arnix: Can you check if our last PR3565 fixes your problem? As Rainer wrote we had to revert your PR3535 as it broke sender connection checking. 

@alorbach I am sorry that this took ages. It did not fix the problem. 
To be clear, our problem occurs being a sender (towards Loggly), using the omfwd module over OSSL (or GTLS). 
I have made a new fix, that solves this for OSSL now. Again, my C coding is way back in the past. Do you want me to make a new "WiP" PR so you can have a look at it. 

PR is always good!

@rgerhards  - so here it is: https://github.com/rsyslog/rsyslog/pull/3704

Also experiencing issue in 8.1911.0, causing the AWS NLB/TargetGroup check to fail because of too many CLOSE_WAIT. Is that fixed in newer versions? Thanks. 
# rsyslogd -v
rsyslogd  8.1911.0 (aka 2019.11) compiled with:
        PLATFORM:                               x86_64-redhat-linux-gnu
        PLATFORM (lsb_release -d):
        FEATURE_REGEXP:                         Yes
        GSSAPI Kerberos 5 support:              No
        FEATURE_DEBUG (debug build, slow code): No
        32bit Atomic operations supported:      Yes
        64bit Atomic operations supported:      Yes
        memory allocator:                       system default
        Runtime Instrumentation (slow code):    No
        uuid support:                           Yes
        systemd support:                        No
        Config file:                            /etc/rsyslog.conf
        PID file:                               /var/run/syslogd.pid
        Number of Bits in RainerScript integers: 64
See https://www.rsyslog.com for more information.

# netstat -anp|grep 10514 |grep CLOSE_WAIT
tcp        1      0 10.x.x.146:10514           10.x.61.92:35609           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:13770           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:48613           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:35704           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:33558           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:44262           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:12559           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:46381           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:4756            CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:5541            CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:12641           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:25166           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:62469           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:38285           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:51159           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:58927           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:27998           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:39133           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.61.92:40083           CLOSE_WAIT  -
tcp        1      0 10.x.x.146:10514           10.x.5.231:34701           CLOSE_WAIT  -
