Does rsyslog support RFC6587?

Hi, I found rsyslog has support for RFC5424 and RFC3164, does rsyslog has the functionality to support RFC6587?

Given that the RFC author is the primary developer of rsyslog, I expect the 
answer is yes (I haven't read through the RFC tp check that all the details are 
implemented, but going through the table of contents doesn't show anything 
unexpected)

David Lang

On Sun, 19 Feb 2023, yipeng0016 wrote:

> Hi, I found rsyslog has support for RFC5424 and RFC3164, does rsyslog has the functionality to support RFC6587?


Indeed, rsyslog does, even before the RFC was out. It does so for ~20 yrs now.