something about RFC 5424 and RFC 3164 conformance

hi,

the RFC 5424 says 6 : 

```
APP-NAME        = NILVALUE / 1*48PRINTUSASCII
PRINTUSASCII    = %d33-126
```

the `/` is %d47 so it is in the range of PRINTUSASCII

postfix sends as APP-NAME `postfix/<something>` .

if I use the template output `RSYSLOG_SyslogProtocol23Format` , I expect as in RFC 5424 , that rsyslog sends the correct APP-NAME and not just `postfix` without the part after the `/` .

one may respond with a quote from obsolete RFC 3164.

the obsolete RFC 3164 says in 4.1.3 :

```
The TAG is a string of
ABNF alphanumeric characters that MUST NOT exceed 32 characters.  Any
non-alphanumeric character will terminate the TAG field and will be
assumed to be the starting character of the CONTENT field.  Most
commonly, the first character of the CONTENT field that signifies the
conclusion of the TAG field has been seen to be the left square
bracket character ("["), a colon character (":"), or a space
character.  This is explained in more detail in Section 5.3.
```

ibid in 5.3 says :

```
It has also been considered to be a good practice to include some
information about the process on the device that generated the
message - if that concept exists.  This is usually the process name
and process id (often known as the "pid") for robust operating
systems.  The process name is commonly displayed in the TAG field.
Quite often, additional information is included at the beginning of
the CONTENT field.  The format of "TAG[pid]:" - without the quote
marks - is common.  The left square bracket is used to terminate the
TAG field in this case and is then the first character in the CONTENT
field.  If the process id is immaterial, it may be left off.
In that case, a colon and a space character usually follow the TAG.
This would be displayed as "TAG: " without the quotes.  In that case,
the colon is the first character in the CONTENT field.
```

the RFC 3164 is `INFORMATIONAL` and `obsolete` and quite bogus because this RFC exposes a messy state of art in 2001. but the RFC seems clear about this :  `[`or `:` or ` ` establish the end of the tag.

the question may remain about `Any non-alphanumeric character will terminate the TAG field` :
1. no SHOULD, no MUST => not required as in RFC 2119 named `Key words for use in RFCs to Indicate Requirement Levels`
2. 5.3 says it's a good practice to add information about the process. and in this case it's TAG[pid] . and tag is `usually` process name .
3.  `usually` is not a constraint, so how can you send other informations or more information if you are truly restricted in [a-zA-Z0-9] range ?
4. `postfix` and several other daemon may have several instances on the same host, with several subprocesses. if one says " the [a-zA-Z0-9] range is a required", who can says the instance of smtpd[12345] if this process is already dead ?

postfix sends `postfix/smtpd[1234]:` or `postfix/instance/smtpd[1234]:` . rsyslog just gives me `postfix` and the PID 1234. This is quite a personal interpretation and a technical issue because : 

RFC 3164 says `Any non-alphanumeric character will terminate the TAG field and will be assumed to be the starting character of the CONTENT field.`, in this case, this clearly means `/instance/smtpd[1234]:` is a part of the CONTENT and there is no available PID. so rsyslog doesn't respect this part of the RFC beacause rsyslog gaves me a PID, and remove a part of the CONTENT.

so how I understand the RFC, and it seems that postfix and some others read it the same way, and this way doesn't introduce any major change in already deployed rsyslog instances :

 – if there is only TAG => it's something matching `[a-zA-Z0-9]{1,32}`
 – if there is TAG[PID] => it's `[^ :\[]]+\[\d+\]:` or at least `[a-zA-Z0-9_,;+\\=$*/-]+\[[0-9]+\]:`

if rsyslog prefers to keeps its own way, then rsyslog MUST stop the TAG where the RFC says, and MUST NOT remove any part of the CONTENT and MUST NOT even try to guess any PID :)

cordially,
